tensorflow==2.17.1
streamlit==1.29.0
opencv-python-headless==4.6.0.66
numpy
pytesseract
pillow
spacy
medspacy
matplotlib
torch==2.0.0  # Or specify another version compatible with your setup
torch==2.0.0  # You can specify the version, or leave it without to get the latest version
torchvision==0.15.0
torchaudio==2.0.0
